body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
    height: 90vh;
}
/* container */

.container{
    box-sizing: border-box;
    z-index: 1;
    width: 80%;
    margin:0 auto;
}

/* nav */
.nav button{
    display: none;
}
.nav{
    display: flex;
    position: relative;
    align-items: center;
}

.nav ul{
    position: absolute;
    right: 0px;
    display: flex;

    font-size: 1.4rem;
    color: #888;
    font-weight: 600;
}

.nav li{
    list-style-type: none;
    margin: 0 20px;
}

.nav li a{
    display: flex;
    text-decoration: none;
    color: #555;

    transition: all 0.2s;
}

.nav li a:hover{
    color: #017143;
}

/* content-div */
.content-div{
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text p{
    font-size: 5rem;
    margin: 0;
}

.text p span{
    font-weight: bolder;
    font-size: 6rem;
    color: #017143;
}

.photos{
    display: flex;
    align-items: center;
    background-color: transparent;
}
#photo{
    width: 400px;
    transition: transform 1s;
    cursor: cell;
    background-color: transparent;
}
#photo:hover{
    transform: rotate(-34deg);
}

/* socialmedia */

.socialMedia li{
    list-style-type: none;
    margin-bottom: 1.3rem;
    
    transition: all 0.4s;
}   

.socialMedia li:hover{
    transform: translateX(10px);
}

.socialMedia li a{
    color: white;
}
/* bg */
.background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1000px;
    background-color: #017143;
    z-index: -1;

    clip-path: circle(650px at right 800px);

    transition: background-color 0.9s ease;
}

@media only screen and (max-height: 560px) {
    .background{
        clip-path: circle(650px at right 800px);
    }
}

#buttonLinks{
    display: none;
}

/* secenekler */

footer{
    margin-top: 4rem;
    padding: 0;
}

footer ul{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer li{
    list-style-type: none;
    margin: 0 1.2rem;

    transition: all 0.4s;
    cursor: pointer;
}

footer li img{
    max-width: 70px;
}

.trY{
    transition: all 0.7s;
}

.transformY{
    transform: translateY(-25px);
    transition: all 1s;
}

.trY:hover{
    transform: translateY(-40px);
}


#background{
    display: none;
}



@media only screen and (max-width: 1070px) {
    .photos{
        transition: all 1s;
    }
    .background{
        display: none;
    }
    .content-div{
        display: flex;
        flex-direction: column;
    }
    .photos{
        margin-top: 20px;
        padding-top: 30px;
        background-color: #017143;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .socialMedia{
        display: flex;
        margin: 0 auto;
        padding: 1rem 0;

    }
    .socialMedia li{
        margin: 10px;
    }
    /* nav */
    .nav{
        position: relative;
    }
    .nav ul{
        display: none;
    }
    .nav button{
        display: block !important;
        position: absolute;
        right: 0;
        padding: 8px;
        border-radius: 10px;
        border: 1px solid #017143;
        background-color: #017143;
        color: #fff;
        cursor: pointer;
        outline: none;
        transition: all 0.5s;
    }
    .nav button:hover{
        opacity: 0.8;
    }

    .show{
        display: block !important;
        transition: all 1s;
    }
    #links{
        background-color: #017143;
        position: absolute;
        top: 80px;
        right: 0;
        margin: 0;
        padding: 10px;
        border-radius: 20px;
    }
    #links li{
        margin-bottom: 10px;
    }
    #links li a{
        color: #fff;
    }
  }
  

@media only screen and (max-width: 600px) {
    html{
        font-size: 0.8rem;
    }
    #photo{
        width: 100px;
    }
    .trY img{
        width: 30px !important;
    }
    .socialMedia i{
        font-size: 1.2rem;
    }
    
}

@media only screen and (max-width: 400px) {
    html{
        font-size: 0.5rem;
    }
    #photo{
        width: 100px;
    }
    .trY img{
        width: 20px !important;
    }
}